@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
